NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_TOKEN=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_GTM_ID=
GOOGLE_APPS_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbx0DqtdWyS9CazI2v6C1gyto2vhFMv-sQ_RRYxTBaRygRdneelVJ6MNomxy6QFiuDPsLQ/exec
GOOGLE_APPS_SCRIPT_WEBHOOK_SECRET=
